In [44]:
import pandas as pd
import numpy as np

In [45]:
concept=pd.read_csv("C:\\Users\\salma\\OneDrive\\Documents\\Data_set2.csv")
concept

     sky airtemp humidity    wind water  forest enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [46]:
data=np.array(concept)[:,:-1]
data

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [47]:
target=np.array(concept)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [55]:
for i in range(4):
#     print(target[i])
    if(target[i]=="yes"):
        specific_hypo=data[i].copy()
        print("specifici HYpothesis is:",specific_hypo)
        break
    else:
        pass
for i in range(4):
    if(target[i]=="yes" or target[i]=="no"):
            temp=data[i].copy()
            print(temp)

specifici HYpothesis is: ['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
['sunny' 'warm' 'high' 'strong' 'warm' 'same']
['rainy' 'cold' 'high' 'strong' 'warm' 'change']
['sunny' 'warm' 'high' 'strong' 'cool' 'change']

In [49]:
for i in range(4):
    for j in range(6):
        if(target[i]=="yes"):
            if(specific_hypo[j]!=temp[j]):
                temp[j]="?"           
                specific_hypo[j]=temp[j]
print("specific hypothesis is =",specific_hypo)   
print(temp)

specific hypothesis is = ['sunny' 'warm' '?' 'strong' '?' '?']
['sunny' 'warm' '?' 'strong' '?' '?']

# Find algorithm practice

In [50]:
import numpy as np
import pandas as pd

In [51]:
concept=pd.read_csv("C:\\Users\\salma\\OneDrive\\Documents\\Data_set2.csv")
concept

     sky airtemp humidity    wind water  forest enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [52]:
data=np.array(concept)[:,:-1]
data

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [53]:
target=np.array(concept)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [56]:
for i in range(4):
    if(target[i]=="yes"):
        specific_hypothesis=data[i].copy();
        print("specific Hypothesis is:",specific_hypothesis)
        break
        
for j in range(4):
    if(target[j]=="yes" or target[j]=="no"):
        temp=data[j].copy()
        print("temp data is :",temp)

specific Hypothesis is: ['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
temp data is : ['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
temp data is : ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
temp data is : ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
temp data is : ['sunny' 'warm' 'high' 'strong' 'cool' 'change']

In [57]:
for i in range(4):
    for j in range(6):
        
        if(target[i]=="yes"):
            if(specific_hypothesis[j]!=temp[j]):
                temp[j]="?"
                specific_hypothesis[j]=temp[j]
print("Final hypothesis is", temp)
print("specific hypothesis is:",specific_hypothesis)

Final hypothesis is ['sunny' 'warm' '?' 'strong' '?' '?']
specific hypothesis is: ['sunny' 'warm' '?' 'strong' '?' '?']

In [58]:



import numpy as np
import pandas as pd

In [61]:
concept=pd.read_csv("C:\\Users\\salma\\OneDrive\\Documents\\Data_set2.csv") 
concept

     sky airtemp humidity    wind water  forest enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [63]:
data=np.array(concept)[:,:-1]
data

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [65]:
target=np.array(concept)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [67]:
for i in range(4):
    if(target[i]=='yes'):
        specific_hypothesis=data[i].copy()
        print("specific Hypothesis is:",specific_hypothesis)
        break
for i in range(4):
    if(target[i]=="yes" or target[i]=="no"):
        temp=data[i].copy()
        print("temp data is:",temp)

specific Hypothesis is: ['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
temp data is: ['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
temp data is: ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
temp data is: ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
temp data is: ['sunny' 'warm' 'high' 'strong' 'cool' 'change']

In [68]:
for i in range(4):
    for j in range(6):
        if(target[i]=="yes"):
            if(specific_hypothesis[j]!=temp[j]):
                temp[j]="?"
                specific_hypothesis[j]=temp[j]
print("specific Hypothesis is ",specific_hypothesis)
print("final hypothesis is ",temp)

specific Hypothesis is  ['sunny' 'warm' '?' 'strong' '?' '?']
final hypothesis is  ['sunny' 'warm' '?' 'strong' '?' '?']

# Chatboat practice

In [1]:
import csv
with open("C:\\Users\\salma\\OneDrive\\Documents\\salman.csv",'r')as file:
    sal=list(csv.reader(file))
    print(sal)

[['hii', 'hello'], ['how are you?', 'fine as always'], ['what is your name?', 'my name is chatbot'], ['what is your age?', 'my age is 20']]

In [2]:
while(True):
    user=input("Enter your ques")
    if(user=="quit"):
        break
    for ques in sal:
        if user in ques:
            print(ques[1])

Enter your queshii
hello
Enter your queshow are you?
fine as always
Enter your quesquit