Name= Salman Faizi 
UID= TNU2021053200018L
Dept=CSE(AI&ML)

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [30]:
data=pd.read_csv("C:\\Users\\salma\\OneDrive\\Documents\\heart2.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [31]:
df=pd.DataFrame(data)

In [32]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [33]:
y = df['target']
x = df.drop('target',axis=1)

In [34]:
len(y)

1025

In [35]:
y.shape

(1025,)

In [36]:

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [37]:
x_train.shape

(820, 13)

In [38]:
y_train.shape

(820,)

In [39]:
x_test.shape

(205, 13)

In [40]:
y_test.shape

(205,)

In [41]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [42]:
model.score(x_test,y_test)

0.8097560975609757

In [43]:
y_predicted=model.predict(x_test)

In [44]:
y_predicted.shape

(205,)

# bayesian algorithm practice

In [56]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as tts

In [47]:
data=pd.read_csv("C:\\Users\\salma\\OneDrive\\Documents\\heart2.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [51]:
df=pd.DataFrame(data)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [52]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [54]:
x=data['target']
x=data.drop('target',axis=1)

In [57]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.20)

In [60]:
x_train.shape

(820, 13)

In [62]:
x_test.shape

(205, 13)

In [63]:
y_test.shape

(205,)

In [64]:
y_train.shape

(820,)

In [65]:
len(y_train)

820

In [66]:
len(x_train)

820

In [67]:
len(x)

1025

In [70]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [72]:
model.fit(x_train,y_train)

GaussianNB()

In [77]:
model.score(x_train,y_train)

0.8292682926829268

In [79]:
y_predicted=model.predict(x_test)

In [80]:
y_predicted.shape

(205,)