In [47]:
import pandas as pd
import numpy as np

In [48]:
concept=pd.read_csv("C:\\Users\\salma\\OneDrive\\Documents\\Data_set2.csv")
concept

     Sky AirTemp Humidity    Wind Water Forcast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm    Same        Yes
1  Sunny    Warm     High  Strong  Warm    Same        Yes
2  Rainy    Cold     High  Strong  Warm  Change         No
3  Sunny    Warm     High  Strong  Cool  Change        Yes

In [49]:
data=np.array(concept)[:,:-1]
data

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [50]:
target=np.array(concept)[:,-1]
target

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [57]:
for i in range(4):
    if(target[i]=="Yes"):
        specific_hypo=data[i].copy()
        break
for i in range(4):
    if(target[i]=="No"):
        general_hypo=data[i].copy()
        break
print("specific hypothesis is =",specific_hypo)
sal=data[1]
print("sal is",sal)
print("general hypothesis is ",general_hypo)
sal2=data[2]
print("sal2 is =",sal2)
general_hypo=[["?" for i in range(6)]for i in range(4)]

print("General hypothesis is =",general_hypo)
print(general_hypo[1][2])

specific hypothesis is = ['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
sal is ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
general hypothesis is  ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
sal2 is = ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
General hypothesis is = [['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?']]
?

In [56]:
for i in range(4):
    if(target[i]=="Yes"):
            temp=data[i].copy()
#             print(temp)
    else:
        temp=data[i].copy()
    print(temp)

['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']

In [60]:
# print(general_hypo)
for i in range(4):
    for j in range(6):
        if(target[i]=="Yes"):
            if(specific_hypo[j]!=temp[j]):
                specific_hypo[j]="?"
                
                
                
        if(target[i]=="No"):
            for i in range  (len(specific_hypo)):
                
                if(specific_hypo[j]!=temp[j]):
                    general_hypo[i][j]=specific_hypo[j]
                else:
                    general_hypo[i][j]='?'
#                 specific_hypo[j]=temp[j]
#         else:
#             if(specific_hypo[j]!=temp[j]):        
#                 general_hypo[j]=specific_hypo[j]
#             else:
#                  general_hypo[j]="?"
print("general hypothesis is =",general_hypo)
                    
# for i in range(4):
#     for j in range(6):
       

print("specific hypothesis is =",specific_hypo)

# print(specific_hypo)
# print(sal2)

TypeError: 'str' object does not support item assignment